@font-face {
    font-family: pop;
    src: url(./Fonts/Poppins-Medium.ttf);
}


body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
    min-height: 100vh;
    background-color:#F5DCFA;
}


/*################## Nav-Bar Styling ###################*/

.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}
  
.hamburger svg {
    height: 3em;    /* Size of SVG defines overall size */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);   /* For transforming the SVG */
}
  
.line {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);   /* For transforming the SVG */
}
  
.line-top-bottom {
    stroke-dasharray: 12 63;
}
  
.hamburger input:checked + svg {
    transform: rotate(-45deg);
}
  
.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}
  
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 5rem; /* Adjust the gap between links as needed */
    margin-top: 0;
    align-items: center;
    float: none;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background-color: #F5DCFA;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
  }
  .tab:hover {
    background-color: #e6c7ec;
  }

/*################## Step-Bar Styling ###################*/
.Track-Intro {
    display: flex;
    width: 100%; /* Adjust as needed */
    height: auto;
    margin: 0 auto;
}

.left {
    flex: 2;
    padding: 50px;
    margin-top: 100px;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.para{
    font-family:"Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color:#939597;
}

h1 {
font-family: "Roboto", sans-serif;
font-weight: 900;
font-size:48px;
}

.main{
    width: 65%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pop;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin-left: 35vh;
}
.head{
    text-align: center;
}
.head_1{
    font-size: 30px;
    font-weight: 600;
    color: #333;
    margin-top: 0px;
}
.head_2{
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-top: 3px;
}
ul{
    display: flex;
    margin-top: 80px;
}
ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul li .icon{
    font-size: 35px;
    color: #ff4732;
    margin: 0 60px;
}
ul li .text{
    font-size: 14px;
    font-weight: 600;
    color: #ff4732;
}

/* Progress Div CSS  */

ul li .progress{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(68, 68, 68, 0.781);
    margin: 14px 0;
    display: grid;
    place-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.progress::after{
    content: " ";
    position: absolute;
    width: 125px;
    height: 5px;
    background-color: rgba(68, 68, 68, 0.781);
    right: 30px;
}
.one::after{
    width: 0;
    height: 0;
}
ul li .progress .uil{
    display: none;
}
ul li .progress p{
    font-size: 13px;
}

/* Active CSS  */

ul li .active{
    background-color: #ff4732;
    display: grid;
    place-items: center;
}
li .active::after{
    background-color: #ff4732;
}
ul li .active p{
    display: none;
}
ul li .active .uil{
    font-size: 20px;
    display: flex;
}

/* Responsiveness  */

@media (max-width: 980px) {
    ul{
        flex-direction: column;
    }
    ul li{
        flex-direction: row;
    }
    ul li .progress{
        margin: 0 30px;
    }
    .progress::after{
        width: 5px;
        height: 55px;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
    .one::after{
        height: 0;
    }
    ul li .icon{
        margin: 15px 0;
    }
}

@media (max-width:600px) {
    .main{
        width: 95%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: pop;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;
        margin-left: 8px;
    }

    .head .head_1{
        font-size: 24px;
    }
    .head .head_2{
        font-size: 16px;
    }
}